<h1>Conformidades</h1>

<table>
  <tr>
    <th>Caixa</th>
    <th>Processo</th>
    <th>Data</th>
    <th>Valor</th>
    <th>Fornecedor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conformidades.each do |conformidade| %>
  <tr>
    <td><%= conformidade.caixa %></td>
    <td><%= conformidade.processo %></td>
    <td><%= conformidade.data %></td>
    <td><%= conformidade.valor %></td>
    <td><%= conformidade.fornecedor.nome %></td>
    <td><%= link_to 'Detalhes', conformidade %></td>
    <td><%= link_to 'Editar', edit_conformidade_path(conformidade) %></td>
    <td><%= link_to 'Excluir', conformidade, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Conformidade', new_conformidade_path %>
