<h1>Conformidades</h1>

<%= form_for @busca do |f| %>
  <div>
    <%= f.label :caixa %>
    <%= f.text_field :caixa_contains %>

  </div>

  <div>
    <%= f.label 'Data entre' %>
    <%= f.text_field :data_gte %>
    <%= f.label 'e' %>
    <%= f.text_field :data_lte %>
  </div>

  <div>
    <%= f.submit :busca %>
    <input type="reset" value="Limpar">

  </div>
  <br><br>

<% end %>



<table>
  <tr>
    <th><%= sort_link @busca, :caixa %></th>
    <th><%= sort_link @busca, :processo %></th>
    <th><%= sort_link @busca, :data %></th>
    <th><%= sort_link @busca, :valor %></th>
    <th><%= sort_link @busca, :fornecedor_id %></th>
    
    

    <% if can? :ver_coluna_publicado, @conformidades %>
      <th><%= sort_link @busca, :publicado %></th>
    <% end %>
    <th></th>
    <% if usuario_signed_in? %>
      <th></th>
      <th></th>
      <% end %>
  </tr>

<% @conformidades.each do |conformidade| %>
  <tr>
    <td><%= conformidade.caixa %></td>
    <td><%= conformidade.processo %></td>
    <td><%= localize conformidade.data %></td>
    <td><%= number_to_currency conformidade.valor %></td>
    <td><%= conformidade.fornecedor.nome %></td>

    <% if can? :ver_coluna_publicado, @conformidades %>
    <td><%= conformidade.publicado? ? 'Sim' : 'Não' %></td>
    <% end %>

    <td><%= link_to 'Detalhes', conformidade %></td>
    
    <% if usuario_signed_in? %>
    <td><%= link_to 'Editar', edit_conformidade_path(conformidade) %></td>
    <td><%= link_to 'Excluir', conformidade, confirm: 'Tem certeza?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= paginate @conformidades%>
<br>

<% if usuario_signed_in? %>
<%= link_to 'Nova Conformidade', new_conformidade_path %>
<% end %>