<p id="notice"><%= notice %></p>

<p>
  <b>Caixa:</b>
  <%= @conformidade.caixa %>
</p>

<p>
  <b>Processo:</b>
  <%= @conformidade.processo %>
</p>

<p>
  <b>Data:</b>
  <%= localize @conformidade.data %>
</p>

<p>
  <b>Valor:</b>
  <%= number_to_currency @conformidade.valor %>
</p>

<p>
  <b>Fornecedor:</b>
  <%= @conformidade.fornecedor.nome %>
</p>

<p>
  <b>Observação:</b>
  <%= @conformidade.observacao %>
</p>
<%= link_to 'Editar', edit_conformidade_path(@conformidade) %> |
<%= link_to 'Voltar', conformidades_path %>
