<h1>Fornecedores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>CNPJ/CPF</th>
    <th></th>
    <th></th>
  </tr>

<% @fornecedores.each do |fornecedor| %>
  <tr>
    <td><%= fornecedor.nome %></td>
    <td><%= fornecedor.cnpj_cpf %></td>
    <!--<td><%= link_to 'Show', fornecedor %></td>-->
    <% if usuario_signed_in?  %>
    <td><%= link_to 'Editar', edit_fornecedor_path(fornecedor) %></td>
    <td><%= link_to 'Excluir', fornecedor, confirm: 'Tem certeza?', method: :delete %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />


<% if usuario_signed_in? %>
<%= link_to 'novo Fornecedor', new_fornecedor_path %>
<% end %>