<h1>Usuarios</h1>

<table>
  <tr>
    <th>Email</th>
    <!-- <th>Password</th>
    <th>Password confirmation</th> -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.email %></td>
    <!-- <td><%= usuario.password %></td>
    <td><%= usuario.password_confirmation %></td> -->
    <td><%= link_to 'Detalhes', usuario %></td>
    <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Excluir', usuario, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @usuarios %>
<br />
<%= link_to 'Novo Usuario', new_usuario_path %>
